// includes dom

div#dialogWrapper {
	@extend .hideable;

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.2);

	div#dialog {
		@extend .discardable;

		position: relative;
		top: 10%;
		margin: 0 auto;
		width: 300px;
		color: black;
		background-color: white;

		div.heading {
			text-align: center;
			color: inherit;
			font-size: 20px;
			padding-top: 5px;
		}

		div.content {
			position: relative;
			overflow-y: auto;
			overflow-x: hidden;
			white-space: pre-wrap;

			text-align: center;
			line-height: 17px;
			width: 92%;
			margin: 5px auto;
			color: black;
			border-top: 1px solid grey;
			border-bottom: 1px solid grey;

			input[type="file"] {
				width: 100%;
				margin: 10px 0;
			}

			label {
				display: block;
				line-height: 30px;

				input, select {
					margin-left: 3px;
				}

				input[type="text"], input[type="number"], select {
					display: block;
					margin: 0 auto;
				}

				input[type="password"] {
					width: 125px;
				}
			}
			label {
				margin-bottom: 6px;
			}
			label.surround, div.surround {
				border: 2px solid grey;
				padding: 3px;
				margin-top: 2px;
				line-height: 30px;

				input {
					margin-bottom: 6px !important;
				}
			}
			label.surround:after, div.surround:after {
				@extend .clear;
			}
		}

		button {
			display: inline-block;
			text-transform: capitalize;
			width: 60%;
			margin: 0 20% 7px;
			padding: 3px 0;
			white-space: normal;
		}
		button.b2 {
			width: 40%;
			margin: 7px 5%;
		}
		button.b3 {
			width: 30%;
			margin: 7px 1.6%;
		}
	}
}

@media (max-height: 200px) {
	div#dialogWrapper {
		div#dialog {
			top: 0;
			border: none;

			div.heading {
				font-size: 14px;
				padding: 0;
			}

			div.content {
				padding: 1px;
				border: none;
			}

			div button {
				margin-top: 0 !important;
				margin-bottom: 3px !important;
			}
		}
	}
}